* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1 {
  color: #051367;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 30px; }

p {
  color: #051367;
  font-weight: 300; }

h2 {
  color: #051367;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 30px; }

.Subtitulo {
  font-weight: 400;
  margin-left: 5%;
  margin-right: 5%; }

h3 {
  color: #051367;
  font-weight: bold;
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 20px; }

h4 {
  font-size: 1.3rem; }

section {
  margin: 30px;
  text-align: justify; }
  section h2 {
    text-align: center; }

.Principal {
  background-color: #62bbff;
  margin-left: 0;
  margin-right: 0;
  padding: 20px;
  text-align: center; }

.Titulos {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #62bbff;
  color: #051367;
  border-radius: 10px; }

.Tarjeta, .Educativa, .Laboral {
  justify-content: center;
  background-color: #ffffff;
  padding: 5%;
  border-radius: 15px; }
  .Tarjeta:hover, .Educativa:hover, .Laboral:hover {
    transform: scale(1.02, 1.02);
    box-shadow: 0 5px 20px #62bbff; }
  .Tarjeta p, .Educativa p, .Laboral p {
    color: #051367;
    margin-bottom: 0;
    text-align: justify; }
  .Tarjeta img, .Educativa img, .Laboral img {
    width: 100%;
    margin-bottom: 5px; }

span {
  font-weight: 800; }

@media screen and (max-width: 850px) {
  .Principal {
    padding: 10px;
    font-size: larger; }
  h2 {
    font-size: 1.35rem; }
  section {
    margin: 15px;
    text-align: justify; }
  .Tarjeta, .Educativa, .Laboral {
    width: 100%;
    padding: 4%; }
    .Tarjeta img, .Educativa img, .Laboral img {
      width: 50%; } }

@media screen and (max-width: 600px) {
  .Tarjeta, .Educativa, .Laboral {
    padding: 5%;
    margin-bottom: 15px; }
    .Tarjeta img, .Educativa img, .Laboral img {
      width: 100%; } }

a {
  text-decoration: none; }

.contenedor {
  width: 100%;
  background-color: #051367;
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "logo nav nav";
  position: relative;
  top: 0px; }
  .contenedor .logo {
    grid-area: logo;
    margin: 20px; }
    .contenedor .logo img {
      width: 150px; }
  .contenedor .nav {
    grid-area: nav;
    display: inline-block;
    justify-self: end;
    align-self: center;
    left: 500px;
    background: #051367;
    text-align: center; }
    .contenedor .nav .BoxNav {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 0%; }
      .contenedor .nav .BoxNav .Menu {
        text-decoration: none;
        text-align: center;
        padding: 20px;
        color: #ffffff;
        font-size: 1.3rem;
        font-weight: bolder; }
        .contenedor .nav .BoxNav .Menu:hover {
          color: #62bbff; }
      .contenedor .nav .BoxNav .Trayectoria {
        padding: 9.5px; }
    .contenedor .nav li {
      position: relative;
      font-size: 1.4rem;
      padding: 10px; }

@media screen and (max-width: 850px) {
  .logo img {
    width: 100px; }
  .contenedor {
    width: 100%;
    display: grid;
    grid-template-areas: "logo" "nav";
    justify-items: center; }
    .contenedor .nav {
      display: inline-block;
      justify-self: center;
      align-self: center;
      text-align: center; } }

@media screen and (max-width: 600px) {
  nav {
    margin-left: 80px;
    margin-right: 80px; } }

body {
  background-color: #dff6ff;
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.3rem; }

.image_full {
  display: block;
  margin-bottom: 30px; }

.image_mobile {
  display: none; }

.acerca {
  margin: 30px; }
  .acerca img {
    width: 100%; }

.texto1 {
  grid-area: texto1; }

.img1 {
  grid-area: img1;
  align-self: center; }

.texto2 {
  grid-area: texto2; }

.img2 {
  grid-area: img2;
  align-self: center; }

.acerca2 {
  padding: 30px;
  background-color: #ffffff; }
  .acerca2 p {
    justify-self: end; }
  .acerca2 h3 {
    color: #051367;
    background-color: #62bbff;
    padding: 20px;
    text-align: center; }

.tiempo {
  display: grid;
  grid-template-areas: "img1 img1 texto1";
  gap: 30px; }

.habilidad {
  display: grid;
  grid-template-areas: "texto2 img2 img2";
  gap: 30px; }

@media screen and (max-width: 850px) {
  .image_full {
    display: none; }
  .image_mobile {
    display: block;
    margin-bottom: 15px; }
  .acerca {
    margin: 15px; }
  .tiempo {
    grid-template-areas: "img1" "texto1"; }
  .habilidad {
    grid-template-areas: "img2" "texto2"; } }

footer {
  background-color: #051367;
  color: #ffffff;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }
  footer .TextoDatos {
    font-weight: lighter; }
  footer .Iconos img {
    opacity: 0.7;
    margin-left: 5px;
    margin-right: 5px; }
  footer .Logo:hover {
    opacity: 1;
    transform: scale(1.2, 1.2); }

.ContPort {
  justify-content: center;
  text-align: center;
  display: flex;
  gap: 3%; }
  .ContPort p {
    text-align: justify; }
  .ContPort h3 {
    margin-bottom: 0; }

.mascotas {
  justify-content: center;
  width: 30%;
  background-color: #ffffff;
  padding: 2.5%;
  border-radius: 15px; }
  .mascotas:hover {
    transform: scale(1.02, 1.02);
    box-shadow: 0 5px 20px #663399; }
  .mascotas .TituPort {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #663399;
    border-radius: 10px; }
    .mascotas .TituPort h3 {
      color: #ffffff; }
  .mascotas p {
    color: #663399;
    margin-bottom: 0;
    text-align: justify; }
  .mascotas img {
    width: 100%;
    margin-bottom: 5px; }

.Tecnoservicios {
  justify-content: center;
  width: 30%;
  background-color: #ffffff;
  padding: 2.5%;
  border-radius: 15px; }
  .Tecnoservicios:hover {
    transform: scale(1.02, 1.02);
    box-shadow: 0 5px 20px #003366; }
  .Tecnoservicios .TituPort {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #003366;
    border-radius: 10px; }
    .Tecnoservicios .TituPort h3 {
      color: #ffffff; }
  .Tecnoservicios p {
    color: #003366;
    margin-bottom: 0;
    text-align: justify; }
  .Tecnoservicios img {
    width: 100%;
    margin-bottom: 5px; }

.funimation {
  justify-content: center;
  width: 30%;
  background-color: #ffffff;
  padding: 2.5%;
  border-radius: 15px; }
  .funimation:hover {
    transform: scale(1.02, 1.02);
    box-shadow: 0 5px 20px #4719a3; }
  .funimation .TituPort {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #4719a3;
    border-radius: 10px; }
    .funimation .TituPort h3 {
      color: #ffffff; }
  .funimation p {
    color: #4719a3;
    margin-bottom: 0;
    text-align: justify; }
  .funimation img {
    width: 100%;
    margin-bottom: 5px; }

@media screen and (max-width: 850px) {
  .ContPort {
    flex-wrap: wrap;
    gap: 15px; }
  .mascotas {
    width: 100%;
    padding: 4%; }
    .mascotas img {
      width: 50%; }
  .Tecnoservicios {
    width: 100%;
    padding: 4%; }
    .Tecnoservicios img {
      width: 50%; }
  .funimation {
    width: 100%;
    padding: 4%; }
    .funimation img {
      width: 50%; } }

@media screen and (max-width: 600px) {
  .mascotas {
    padding: 5%;
    margin-bottom: 15px; }
    .mascotas img {
      width: 100%; }
  .Tecnoservicios {
    padding: 5%;
    margin-bottom: 15px; }
    .Tecnoservicios img {
      width: 100%; }
  .funimation {
    padding: 5%;
    margin-bottom: 15px; }
    .funimation img {
      width: 100%; } }

.ContTray {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  text-align: center;
  gap: 40px;
  margin: 40px; }
  .ContTray img {
    width: 70%; }
  .ContTray h3 {
    margin-bottom: 0; }

.Botones {
  margin: 20px;
  padding-top: 15px;
  padding-bottom: 10px;
  background-color: #051367;
  color: #ffffff;
  border-radius: 10px; }

.trayect {
  text-align: center; }
  .trayect img {
    width: 350px; }
  .trayect p {
    text-align: justify;
    margin-top: 30px; }

.TrayCont {
  display: grid;
  justify-content: center;
  grid-template-columns: 50% 50%;
  gap: 50px;
  margin: 40px; }
  .TrayCont img {
    width: 70%; }
  .TrayCont h3 {
    margin-bottom: 0; }

.ImgTray {
  background-color: #ffffff;
  border-radius: 15px; }

.CardsTray {
  display: flex;
  flex-flow: column;
  background-color: #ffffff;
  height: 300px;
  padding: 2.5%;
  gap: 2.5%;
  border-radius: 20px;
  transition: 0.3s ease-in-out;
  box-shadow: 5px 5px 20px #62bbff; }
  .CardsTray p {
    opacity: 0; }
  .CardsTray:hover {
    height: auto; }
    .CardsTray:hover p {
      opacity: 1;
      transition: 0.3s ease-in-out; }
  .CardsTray .TarjetaTray {
    grid-area: imag; }
    .CardsTray .TarjetaTray img {
      width: 280px; }
  .CardsTray .SubTray {
    grid-area: subt;
    background-color: #051367;
    color: #ffffff; }
    .CardsTray .SubTray .TituTrab {
      color: #ffffff;
      font-weight: 800;
      margin-top: 2%;
      margin-bottom: 0; }
    .CardsTray .SubTray h4 {
      font-weight: 400;
      margin: 0; }
    .CardsTray .SubTray h5 {
      font-weight: 300; }
  .CardsTray .TextoTray {
    grid-area: txt;
    padding-left: 5px;
    padding-right: 5px; }
    .CardsTray .TextoTray p {
      margin-top: 10px;
      margin-bottom: 10px; }

@media screen and (max-width: 850px) {
  .ContTray {
    grid-template-columns: 100%;
    gap: 20px;
    margin: 2%; }
  .TrayCont {
    display: grid;
    justify-content: center;
    grid-template-columns: 100%;
    gap: 30px;
    margin: 2%; }
    .TrayCont img {
      width: 70%; }
    .TrayCont h3 {
      margin-bottom: 0; } }

.datos {
  padding: 30px;
  background-color: #ffffff;
  color: #051367; }

.BotonForm {
  background-color: #0c4cfa;
  border-color: #0c4cfa; }
  .BotonForm:hover {
    background-color: #dff6ff;
    border-color: #051367;
    color: #051367; }

.BotonForm2 {
  background-color: #62bbff;
  border-color: #62bbff; }
  .BotonForm2:hover {
    background-color: #051367;
    border-color: #051367; }

@media screen and (max-width: 850px) {
  .datos h3 {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px; } }
