* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import "./partials/variables";
@import "./partials/comunes";
@import "./partials/navbar";
@import "./partials/index";
@import "./partials/footer";
@import "./partials/portafolio";
@import "./partials/trayectoria";
@import "./partials/contacto";
