a{
  text-decoration: none;
}
h1 {
  color: $AzulOscuro;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 30px;
}
p {
  color: $AzulOscuro;
  font-size: 1.3rem;
  font-weight: 300;
}
h2 {
  color: $AzulOscuro;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 30px;
}
.Subtitulo {
  font-weight: 400;
  margin-left: 5%;
  margin-right: 5%;
}
h3 {
  color: $AzulOscuro;
  font-weight: bold;
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 20px;
}
h4 {
  font-size: 1.3rem;
}
section {
  margin: 30px;
  text-align: justify;
  & h2 {
    text-align: center;
  }
}
.Principal {
  background-color: $AzulClaro;
  margin-left: 0;
  margin-right: 0;
  padding: 20px;
  text-align: center;
}
.Titulos {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: $AzulClaro;
  color: $AzulOscuro;
  border-radius: 10px;
}
.Tarjeta {
  justify-content: center;
  background-color: $Blanco;
  padding: 5%;
  border-radius: 15px;
  &:hover {
    transform: scale(1.02, 1.02);
    box-shadow: 0 5px 20px $AzulClaro;
  }
  p {
    color: $AzulOscuro;
    margin-bottom: 0;
    text-align: justify;
  }
  img {
    width: 100%;
    margin-bottom: 5px;
  }
}
span{
  font-weight: 800;
}

@media screen and (max-width: 850px) {
  .Principal {
    padding: 10px;
    font-size: 1.8rem;
  }
  h2{
    font-size: 1.35rem;
  }
  p{
    font-size: 1.2rem;
  }
  section {
    margin: 15px;
    text-align: justify;
  }
  .Tarjeta {
    width: 100%;
    padding: 4%;
    img {
      width: 50%;
    }
  }
}
@media screen and (max-width: 600px) {
  .Tarjeta {
    padding: 5%;
    margin-bottom: 15px;
    img {
      width: 100%;
    }
  }
  h2{
    font-size: 1.2rem;
  }
  p{
    font-size: 1rem;
  }
}
