.collapse {
  justify-content: flex-end;
}
.NavAnd{
  background-color: $AzulOscuro;
}
.navbar-brand{
  padding-left: 1.5%;
}
.nav-link{
  font-size: 1.4rem;
}
.navbar-nav{
  gap: 20px;
  .dropdown-menu{
    font-size: 1.2rem;
    background-color: $Claro;
    .dropdown-item:hover{
      background-color: $AzulClaro;
    }
  }
}
.active{
  font-weight: 800;
}
.LogoAnd{
  img{
    width: 150px;
  }
}
@media screen and (max-width: 600px){
  .navbar-nav{
    text-align: center;
    gap: 0px;
    li{
      text-align: center;
    }
  }
  .LogoAnd{
    img{
      width: 100px;
    }
  }
}
