.ContPort {
  justify-content: center;
  text-align: center;
  display: flex;
  gap: 3%;
  & p {
    text-align: justify;
  }
  & h3 {
    margin-bottom: 0;
  }
}
@mixin CardsPort($color) {
  justify-content: center;
  width: 30%;
  background-color: $Blanco;
  padding: 2.5%;
  border-radius: 15px;
  &:hover {
    transform: scale(1.02, 1.02);
    box-shadow: 0 5px 20px $color;
  }
  .TituPort {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: $color;
    border-radius: 10px;
    h3 {
      color: $Blanco;
    }
  }
  p {
    color: $color;
    margin-bottom: 0;
    text-align: justify;
  }
  img {
    width: 100%;
    margin-bottom: 5px;
  }
}
.mascotas {
  @include CardsPort(#663399);
}
.Tecnoservicios {
  @include CardsPort(#003366);
}
.funimation {
  @include CardsPort(#4719a3);
}
@media screen and (max-width: 850px) {
  .ContPort {
    flex-wrap: wrap;
    gap: 15px;
  }
  .mascotas {
    width: 100%;
    padding: 4%;
    img {
      width: 50%;
    }
  }
  .Tecnoservicios {
    width: 100%;
    padding: 4%;
    img {
      width: 50%;
    }
  }
  .funimation {
    width: 100%;
    padding: 4%;
    img {
      width: 50%;
    }
  }
}
@media screen and (max-width: 600px) {
  .mascotas {
    padding: 5%;
    margin-bottom: 15px;
    img {
      width: 100%;
    }
  }
  .Tecnoservicios {
    padding: 5%;
    margin-bottom: 15px;
    img {
      width: 100%;
    }
  }
  .funimation {
    padding: 5%;
    margin-bottom: 15px;
    img {
      width: 100%;
    }
  }
}
